#image {
    width: 100%;
}

#logo {
    width: 15%;
}

.bloco {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;

}

h1 {
    vertical-align: top;
    display: inline-block;
}

#logo {
    padding-right: 100px;
}

#sobre {
    padding-right: 200px;
}

#contato {
    padding-right: 200px;
}

.texto_centralizado {
    text-align: center;
}

h2 {
    font-size: 40px;
}

p {
   font-size: 20px; 
}