#image {
    width: 100%;
}

#logo {
    width: 15%;
}

.texto_centralizado {
    text-align: center;
}

.bloco {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    background-color: aqua;
}

h1 {
    vertical-align: top;
    display: inline-block;
}

#logo {
    padding-right: 200px;
}

#sobre {
    padding-right: 200px;
}

#contato {
    padding-right: 200px;
}
